/* Last orders */
.last-orders {
  flex-basis: 64%;
  flex-grow: 1;
  /* height: 46vh; */
  border-radius: 0.875rem;
  border: 1px solid #edf2f7;
  padding: 1rem;
  background-color: var(--Primary-BgColor);
}
.l-order {
  color: #26282c;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
}
.see-all {
  color: #34caa5;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  cursor: pointer;
}
.sub-heading {
  padding: 1.3rem 0;
  color: #9ca4ab;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  & .name {
    width: 36%;
  }
  & .t-date {
    width: 20%;
  }
  & .amount {
    width: 14%;
  }
  & .status {
    width: 8%;
  }
  & .invoice {
    width: 8%;
  }
}

.last-order-table .flex-row {
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
  border: 1px solid #edf2f6;
  &:hover {
    background-color: rgb(218, 221, 221, 0.6);
  }
  & .table-name {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    width: 35%;
  }
  & .table-date {
    width: 20%;
    color: #737373;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }
  & .table-amount {
    width: 15%;
    color: #0d062d;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
  }
  & .table-status {
    width: 10%;
    color: #34caa5;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }
  & .table-invoice {
    display: flex;
    justify-content: center;
    gap: 0.22rem;
    width: 10%;
    color: #0d062d;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
  }
}
.ta-img-card {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #737373;
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.ta-name-tag {
  color: #3a3f51;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}
/* End of last order */
@media screen and (max-width: 480px) and (min-width: 320px) {
  .last-orders {
    flex-basis: 100%;
    flex-grow: 1;
    /* height: 46vh; */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .last-order-table .flex-row {
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 0;
    border: 1px solid #edf2f6;
  }
  .last-order-table {
    width: 100%;
  }
  .last-orders .m-heading {
    width: 100%;
    /* overflow-x: scroll; */
  }
  .last-orders .flex-row {
    width: 170%;
    /* overflow-x: hidden; */
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .last-orders {
    flex-basis: 100%;
    flex-grow: 1;
    /* height: 46vh; */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .last-order-table .flex-row {
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 0;
    border: 1px solid #edf2f6;
  }
  .last-order-table {
    width: 100%;
  }
  .last-orders .m-heading {
    width: 100%;
    /* overflow-x: scroll; */
  }
  .last-orders .flex-row {
    width: 170%;
    /* overflow-x: hidden; */
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
}
