aside .top-sidebar-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  margin-top: 1.5rem;
}
aside .top-sidebar-icons li:hover,
aside .top-sidebar-icons li.active,
aside .bottom-sidebar-icons li:hover,
aside .bottom-sidebar-icons li.active {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2rem;
    /* padding-right: 3rem; */
    width: 100%; /* Adjust the width as needed */
    height: 100%;
    background-image: url("src/assets/active-bar.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
aside .bottom-sidebar-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
  position: relative;
}
aside ul li.highlight {
  padding: 0.35rem 0.45rem;
  border-radius: 50%;
  background-color: var(--Primary-Green);
}
/* aside ul li {
  padding: 0.2rem;
  width: 100%;
  text-align: center;
}
aside ul li:hover {
  background-color: rgb(183, 176, 176, 0.4);
} */
@media screen and (max-width: 480px) and (min-width: 320px) {
  aside .bottom-sidebar-icons {
    gap: 01rem;
    margin-top: 7rem;
  }
}
