aside .top-sidebar-icons,
aside .bottom-sidebar-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

aside ul li.active {
  padding: 0.35rem 0.45rem;
  border-radius: 50%;
  background-color: var(--Primary-Green);
}
/* aside ul li {
  padding: 0.2rem;
  width: 100%;
  text-align: center;
}
aside ul li:hover {
  background-color: rgb(183, 176, 176, 0.4);
} */
