.sales-trend {
  width: 64%;
  flex-grow: 1;
  /* height: 46vh; */
  border-radius: 0.875rem;
  border: 1px solid #b2b4b5;
  padding: 1rem;
  background-color: var(--Primary-BgColor);
}
.trend {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
  color: #26282c;
}
.sort {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
  color: #3a3f51;
}
.sort select {
  padding: 0.475rem 0.75rem;
  border-radius: 1.25rem;
  border: 1px solid #e1dfdf;
  background: #fff;
  margin-left: 0.4rem;
}
/* ---------Bar Chart----------------- */
#q-graph {
  display: block;
  position: relative;
  width: 100%;
  height: 18.5rem;
  margin: 0.3rem;
  padding: 0;
  background: transparent;
  font-size: 11px;
}

/* #q-graph tr, */

#q-graph td {
  position: absolute;

  bottom: 1rem;
  width: 150px;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}
#q-graph th {
  position: inherit;
  right: 2rem;
}
.qtr {
  position: relative;
}
#q-graph tr {
  position: absolute;
  bottom: 1rem;
  width: 10px;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: start;
  left: 11rem;
}

#q-graph td {
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--Primary-Green);
    opacity: 0.9;
    color: rgb(22, 183, 132);
  }
}

/* #q-graph tbody tr {
  height: 296px;
  padding-top: 2px;
  color: #aaa;
  border: 1px solid green;
} */
#q-graph #q1 {
  left: 5.5rem;
  &:hover::after {
    content: "$7,500";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 11.2rem;
  }
}
#q-graph #q2 {
  left: 9.25rem;
  &:hover::after {
    content: "$18,500";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 8.2rem;
  }
}
#q-graph #q3 {
  left: 13rem;
  &:hover::after {
    content: "$4,500";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 11.2rem;
  }
}
#q-graph #q4 {
  left: 16.75rem;
  border-right: none;
  &:hover::after {
    content: "$26,000";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 5.2rem;
  }
}
#q-graph #q5 {
  left: 20.5rem;
  &:hover::after {
    content: "$9,000";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 10.2rem;
  }
}
#q-graph #q6 {
  left: 24.25rem;
  &:hover::after {
    content: "$39,000";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 2.2rem;
  }
}
#q-graph #q7 {
  left: 28rem;
  &:hover::after {
    content: "$8,000";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 10.2rem;
  }
}
#q-graph #q8 {
  left: 31.75rem;
  &:hover::after {
    content: "$19,000";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 7.2rem;
  }
}
#q-graph #q9 {
  left: 35.5rem;
  &:hover::after {
    content: "$30,000";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 4.2rem;
  }
}
#q-graph #q10 {
  left: 39.25rem;
  &:hover::after {
    content: "$6,300";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 11.2rem;
  }
}
#q-graph #q11 {
  left: 43rem;
  &:hover::after {
    content: "$28,300";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 5.2rem;
  }
}
#q-graph #q12 {
  left: 46.75rem;
  &:hover::after {
    content: "$23,200";
    position: absolute;
    padding: 1rem;
    background-image: url(src/assets/bar-label.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -6.5rem;
    top: 5.2rem;
  }
}
#q-graph tbody th {
  bottom: -1.75em;
  left: -3rem;
  vertical-align: top;
  font-weight: normal;
  color: #333;
}
#q-graph .bar {
  width: 1.875rem;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background: rgba(52, 202, 165, 0.1);
  z-index: 33;
}
#q-graph .bar-active {
  width: 1.875rem;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background: rgba(52, 202, 165, 0.1);
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background: linear-gradient(180deg, #34caa5 0%, rgba(52, 202, 165, 0) 100%);
  z-index: 33;
}

#q-graph .sent {
  left: -3rem;
  bottom: 0.3rem;
  z-index: 33;
}

#ticks {
  position: relative;
  top: -318px;
  left: 20px;
  width: 100%;
  height: 300px;
  z-index: 1;
  margin-bottom: -300px;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
  /* z-index: -111; */
}

#ticks .tick {
  position: relative;
  border-bottom: 2px dotted #eaeaea;
  width: 100%;
  bottom: 2rem;
  z-index: -111;
}

#ticks .tick p {
  position: absolute;
  left: -3em;
  top: 2.3rem;
  margin: 0 0 0 1.5em;
}

/* ------------Mobile view------------------- */
@media screen and (max-width: 480px) and (min-width: 320px) {
  .sales-trend {
    width: 150%;
    flex-grow: 1;
    /* height: 46vh; */
    border-radius: 0.875rem;
    /* border: 1px solid #edf2f7; */
    margin: auto 2.5%;
    padding: 0.2rem;
    background-color: var(--Primary-BgColor);
  }

  #q-graph {
    height: 19.8rem;
    width: 65dvw;
    margin: auto 2.5%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  #ticks .tick {
    width: 90%;
    bottom: 2rem;
    z-index: -111;
  }

  .sales-trend .headings {
    width: 100%;
    overflow-x: scroll;
  }
  .trend {
    font-size: 0.8rem;
  }
  .sort {
    font-size: 0.675rem;
  }
  .sort select {
    padding: 0.475rem 0.35rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .sales-trend {
    width: 150%;
    flex-grow: 1;
    /* height: 46vh; */
    border-radius: 0.875rem;
    /* border: 1px solid #edf2f7; */
    margin: auto 2.5%;
    padding: 0rem;
    background-color: var(--Primary-BgColor);
  }

  #q-graph {
    height: 19.8rem;
    width: 80dvw;
    margin: auto 2.5%;
    border: 1px solid green;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  #ticks .tick {
    width: 90%;
    bottom: 2rem;
    z-index: -111;
  }

  .sales-trend .headings {
    width: 100%;
    overflow-x: scroll;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
}
