@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  --Primary-BgColor: #fff;
  --Secondary-BgColor: #fafafa;
  --Primary-Green: #34caa5;
}
body {
  height: 100vh;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #292019;
}
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}
/**************************************/
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: auto;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
/**************************************/

/******/
header {
  grid-area: header;
  padding: 10px;
}

article {
  grid-area: content;
  background-color: var(--Secondary-BgColor);
}
aside {
  grid-area: sidebar;

  display: flex;
  width: 5rem;
  padding: 1.25rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 5.625rem;
  flex-shrink: 0;
  border-right: 1px solid #ebecf2;
  background: #f7f8fa;
  position: fixed;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar content";
  grid-template-columns: 5.2rem 1fr;
  grid-template-rows: auto 1fr auto;
}

.sales-trend {
  flex-basis: 60%;
  flex-grow: 1;
  height: 46vh;
  border-radius: 0.875rem;
  border: 1px solid #edf2f7;
  padding: 1rem;
  background-color: var(--Primary-BgColor);
}
.order-summary {
  flex-basis: 38%;
  flex-grow: 1;
  height: 46vh;
  border-radius: 0.875rem;
  border: 1px solid #edf2f7;
  padding: 1rem;
  background-color: var(--Primary-BgColor);
}
.upper-dashboard {
  gap: 1rem;
  margin: 1rem 0;
}
.lower-dashboard {
  gap: 1rem;
}
.last-orders {
  flex-basis: 60%;
  flex-grow: 1;
  height: 46vh;
  border-radius: 0.875rem;
  border: 1px solid #edf2f7;
  padding: 1rem;
  background-color: var(--Primary-BgColor);
}
.top-platforms {
  flex-basis: 38%;
  flex-grow: 1;
  height: 46vh;
  border-radius: 0.875rem;
  border: 1px solid #edf2f7;
  padding: 1rem;
  background-color: var(--Primary-BgColor);
}
.trend {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
  color: #26282c;
}
.sort {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
  color: #3a3f51;
}
.sort select {
  padding: 0.475rem 0.75rem;
  border-radius: 1.25rem;
  border: 1px solid #e1dfdf;
  background: #fff;
  margin-left: 0.4rem;
}

/* @media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
  }
} */
