@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  --Primary-BgColor: #fff;
  --Secondary-BgColor: #fafafa;
  --Primary-Green: #34caa5;
}
body {
  width: 100%;
  height: 100vh;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #292019;
}
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* ******For Webkit (Chrome, Safari, Opera)***************** */
/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 3px; /* Radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle when hovered */
}

/**************************************/
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: auto;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
/**************************************/

/******/
header {
  grid-area: header;
  padding: 10px;
}

article {
  grid-area: content;
  background-color: var(--Secondary-BgColor);
}
aside {
  grid-area: sidebar;

  display: flex;
  width: 5rem;
  padding: 1.25rem 0rem;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-right: 1px solid #ebecf2;
  background: #f7f8fa;
  position: fixed;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar content";
  grid-template-columns: 5.2rem 1fr;
  grid-template-rows: auto 1fr auto;
}

.upper-dashboard {
  gap: 1rem;
  margin: 1rem 0;
}
.lower-dashboard {
  gap: 1rem;
}
/* top platform */
.top-platforms {
  flex-basis: 32%;
  flex-grow: 1;
  border-radius: 0.875rem;
  border: 1px solid #edf2f7;
  padding: 1rem;
  height: 68vh;
  overflow-y: auto;
  background-color: var(--Primary-BgColor);
}

progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 100%;
  height: 0.75rem;

  border-radius: 10px;
  background-color: #f0f0f0;
}
.tp-title {
  color: #26282c;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
}
.tp-see-all {
  color: #34caa5;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
}
.p-bar-title {
  color: #22242c;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
}
.progress-bar-container {
  margin-top: 1rem;
}
.pb-under-text {
  color: #525252;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 0.5rem;
}
/* Define progress bar track */
.first-progress-bar progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Define progress bar value */
.first-progress-bar progress::-webkit-progress-value {
  background-color: #6160dc;
  border-radius: 10px;
}

/* Additional styles for Firefox */
.first-progress-bar progress::-moz-progress-bar {
  background-color: #6160dc;
  border-radius: 10px;
}

/* Additional styles for IE */
.first-progress-bar progress::-ms-fill {
  background-color: #6160dc;
  border-radius: 10px;
}

/* Define progress bar track */
.second-progress-bar progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Define progress bar value */
.second-progress-bar progress::-webkit-progress-value {
  background-color: #54c5eb;
  border-radius: 10px;
}

/* Additional styles for Firefox */
.second-progress-bar progress::-moz-progress-bar {
  background-color: #54c5eb;
  border-radius: 10px;
}

/* Additional styles for IE */
.second-progress-bar progress::-ms-fill {
  background-color: #54c5eb;
  border-radius: 10px;
}

/* Define progress bar track */
.third-progress-bar progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Define progress bar value */
.third-progress-bar progress::-webkit-progress-value {
  background-color: #ffb74a;
  border-radius: 10px;
}

/* Additional styles for Firefox */
.third-progress-bar progress::-moz-progress-bar {
  background-color: #ffb74a;
  border-radius: 10px;
}

/* Additional styles for IE */
.third-progress-bar progress::-ms-fill {
  background-color: #ffb74a;
  border-radius: 10px;
}

/* Define progress bar track */
.fourth-progress-bar progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Define progress bar value */
.fourth-progress-bar progress::-webkit-progress-value {
  background-color: Red;
  border-radius: 10px;
}

/* Additional styles for Firefox */
.fourth-progress-bar progress::-moz-progress-bar {
  background-color: Red;
  border-radius: 10px;
}

/* Additional styles for IE */
.fourth-progress-bar progress::-ms-fill {
  background-color: Red;
  border-radius: 10px;
}
/* end of top platform */
@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas:
      "header"
      "content";
  }
}
/* ------------Mobile view------------------- */
@media screen and (max-width: 480px) and (min-width: 320px) {
  aside {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
}
